.item-details-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.item-image {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 20px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.item-price {
  font-size: 20px;
  color: #0161E9;
  margin: 10px 0;
}

.payment-options {
  text-align: left;
  background-color: #fbfbfb;
  margin-bottom: 20px;
  padding: 10px;
}

.payment-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.payment-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
 

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}


.payment-plan span {
  margin-right: 10px;
}

.payment-plan hr {
  width: 100%;
  border: none;
  border-top: 2px solid #ddd;
  margin: 10px 0;
}

.availability {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.availability span {
  font-size: 14px;
  margin-right: 5px;
}

.in-stock {
  font-size: 14px;
  color: green;
  font-weight: bold;
  background-color: #e3f1e4;
  padding: 5px 10px;
  border-radius: 25px;
}

.not-in-stock {
  font-size: 14px;
  color: red;
  font-weight: bold;
  background-color: #f8a4a4;
  padding: 5px 10px;
  border-radius: 25px;
}

.place-order-btn {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.place-order-btn:hover {
  background-color: red;
}