.signup-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  position: relative;
}

.error-message-signup {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
}

.logo {
  position: relative;
  top: 10px;
  left: 20px;
  width: 100px;
  
  margin-bottom: 20px;
}

.logo-inverse {
  position: absolute;
  top: 10px;
  right: 730px;
  width: 40px;
}

.form-section {
  flex: 1;
  padding: 1rem;
  display: flex;
  max-width: 80%;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.form-div {
  width: 80%;
  padding-left: 5%;
  padding-right: 10%;
}

.form-section h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1rem;
}

input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  border: 0px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 12px;
}

button {
  padding: 0.5rem;
  font-size: 0.875rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}

.image-section {
  flex: 1;
  padding: 2rem;
  width: 50vw;
  overflow: hidden;
  background: url('../assets/background.png') no-repeat center center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.image-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.image-section img {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
}

.form-section-signup {
  padding: 2rem;
  width: 50vw;
}

.form-section-signup h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.form-width {
  width: 100%;
  max-width: 450px;
  padding: 10px;
  border-radius: 12px;
  border: none;
}

.input-field {
  background-color: #f5f5f5;
  border: none;
  
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  width: 100%;
}

.submit-button:hover {
  background-color: #0056b3;
}

.form-group {
  margin-bottom: 0rem;
}

.form-control {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 12px;
  border: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
  }

  .form-section-signup {
    max-width: 100%;
    margin-top: 20px;
    width: 100%;
  }

  .image-section {
    padding: 1rem;
    height: auto;
    width: 100%;
  }

  .image-section img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }

  form {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 80px;
  }

  .form-section-signup {
    padding: 0.5rem;
  }

  .form-section-signup h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  input {
    padding: 0.6rem;
    font-size: 0.875rem;
  }

  button {
    padding: 0.75rem;
    font-size: 0.875rem;
  }
}