.footer {
    background-color: #0044cc;
    color: white;
    padding: 20px 10px;
    background-image: url('../../assets/Footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-section p,
  .footer-section ul,
  .footer-section li {
    font-size: 12px;
    line-height: 1.5;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .email-input {
    display: flex;
    align-items: center;
    background: #0044cc;
    border-radius: 4px;
    height: 54px;
    width: 90%;
    
  }
  
  .email-input input {
    border: none;
    padding: 10px;
    outline: none;
    flex: 1;
    background: #0044cc;
    color: white;
  }
  
  div > h4{
    font-size: 18px;
  }
  .email-input button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
  }
  
  .app-links img {
    max-width: 120px;
    margin: 5px 0;
  }
  .app-links{
    display: flex;
    gap: 10px;
  }
  
  .social-links i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
  }

  .footer-logo {
    width: 110px;
    margin-bottom: 10px;
  }